doctype html
html
  head
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    title= title
    link(rel="stylesheet", href="/css/vex.css")
    link(rel="stylesheet", href="/css/vex-theme-os.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content