h2="Users"

table.users-list
    thead
        th="UID"
        th="Name"
        th="Group"
        th="Emails"
        th="Numbers"
        th="Show Transactions"
        th="Checked In"
        th
            a.button.add-user(href="javascript:;")="+ Add User"
    tbody