input(name="uid", type="text", placeholder="UID", required="required", value=user.uid)
input(name="name", type="text", placeholder="Name", required="required", value=user.name)
input(name="group", type="text", placeholder="Group", value=user.group)
input(name="emails", type="text", placeholder="Emails", value=emails)
input(name="numbers", type="text", placeholder="Numbers", value=numbers)

