td=user.uid
td=user.name
td=user.group
td=emails
td=numbers
td
    a.transactions(href="javascript:;",title="Transactions")
        i.fa.fa-exchange
td
    -if(user.checked_in)
        i.fa.fa-check
    -else
        .button.checkin="Check In"