/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url(/fonts/myriad-pro/MYRIADPRO-REGULAR.woff) format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  padding: 50px;
  font: 14px "Myriad Pro Regular", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td, th {
  margin: 0;
  padding: 2px 10px;
  min-width: 100px;

  text-align: left;
}

.users-list tbody tr:hover {
  background-color: #fff6de;
  cursor: pointer;
}

.vex.vex-theme-os .vex-content {
  width: 640px;
}

h2 {
  margin: 0;
  font-size: 24pt;
}

.button {
  padding: 8px 16px;
  color: white;
  border: 0;
  border-radius: 3px;
  background-color: #f7b600;
  text-decoration: none;
  text-align: center;
  width: 160px;
  font-size: 1.1em;
  cursor: pointer;
  border: 2px solid transparent;
}

.button:hover {
  background-color: #1a1f71;
  color: #fff;
}

.button.no {
  background-color: white;
  border: 2px solid #364298;
  color: #1a1f71;
}

.button.no:hover {
  background-color: #1a1f71;
  color: #fff;
}

a.transactions {
  font-size: 30px;
}